{% extends 'myproject_base/base.html' %} 

{% block page_header %}
  <h1>{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'myproject_base:new_entry' topic.id %}">
      添加新的条目</a>
  </p>

  {% for entry in entries %}
    <div class="card mb-3">
      <!-- 包含时间戳和编辑链接的标题 -->
      <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small>
          <a href="{% url 'myproject_base:edit_entry' entry.id %}">
            编辑
          </a>
        </small>
      </h4>

      <!-- 包含条目文本的正文 -->
      <div class="card-body">{{ entry.text|linebreaks }}</div>
    </div>
  {% empty %}
    <p>There are no entries for this topic yet.</p>
  {% endfor %}

{% endblock content %}